body{
    background: url(images/bg3.jpg) no-repeat left top;
    background-size: 100% 100%;
}

#center{
    position: relative;
    width: 500px;
    height: 650px;
    margin: auto;
    overflow: hidden;
}

#bg_main{
    width: 500px;
    height: 650px;
    background: url(images/bg_mainscene.jpg) no-repeat left top;
    background-size: 100% 100%;
}

#container{
    position: absolute;
    top: -400px;
    left: 50px;
	width: 400px;
	height: 400px;
	margin-right: 30px;
	margin-bottom: 18px;
	float: left;
}

#bg-container{
	width: 100%;
	height: 100%;
}

.star{
	width: 40px;
	height: 40px;
	float: left;
	box-sizing: border-box;
	display: inline-block;
	background-size: 100%;
}

#show{
    position: absolute;
    top: 200px;
    left: 435px;
    color: white;
    font-family: 'KaiTi';
    font-size: 26px;
    z-index: 2;
}

#showTarget{
    position: absolute;
    top: 250px;
    left: 700px;
    color: white;
    font-family: 'KaiTi';
    font-size: 26px;
}

.bshow{
    position: absolute;
    top: 24px;
    left: 130px;
    font-family: 'KaiTi';
    font-size: 22px;
    color: white;
}
.Bshow{
    display: none;
}

.best{
    position: absolute;
    top: 16px;
    left: 200px;
    width: 142px;
    height: 43px;
    background: url(images/ui2.png) no-repeat left top;
    background-size: 100% 100%;
}
#bestnum{
    position: absolute;
    top: 8px;
    left: 33px;
    font-family: 'KaiTi';
    font-size: 22px;
    color: white;
}
.Best{
    display: none;
}

.game{
    position: absolute;
    top: 60px;
    left: 100px;
    width: 283px;
    height: 166px;
    background: url(images/15.jpg) no-repeat left top;
    background-size: 100% 100%;
}
.Game{
    display: none;
}

.start{
    opacity: 1;
    position: absolute;
    top: 300px;
    left: 140px;
    width: 195px;
    height: 47px;
    border: 0px;
    background: url(images/newgame.png) no-repeat left top;
    background-size: 100% 100%;
    outline: none;
}
button.start:hover{
    color: red;
}
.Start{
    display: none;
}

.blue{
    position: absolute;
    top: 200px;
    left: 320px;
    width: 150px;
    height: 150px;
    background: url(images/10.jpg) no-repeat left top;
    background-size: 100% 100%;
    opacity: 1;
}

.green{
    position: absolute;
    top: 140px;
    left: 180px;
    width: 150px;
    height: 150px;
    background: url(images/11.jpg) no-repeat left top;
    background-size: 100% 100%;
    opacity: 1;
}

.purple{
    position: absolute;
    top: 280px;
    left: 50px;
    width: 150px;
    height: 150px;
    background: url(images/12.jpg) no-repeat left top;
    background-size: 100% 100%;
    opacity: 1;
}

.red{
    position: absolute;
    top: 100px;
    left: 10px;
    width: 150px;
    height: 150px;
    background: url(images/13.jpg) no-repeat left top;
    background-size: 100% 100%;
    opacity: 1;
}

.yellow{
    position: absolute;
    top: 380px;
    left: 250px;
    width: 150px;
    height: 150px;
    background: url(images/14.jpg) no-repeat left top;
    background-size: 100% 100%;
    opacity: 1;
}

#five_color.Five{
    display: none;
}

.goal{
    display: none;
}
.Goal{
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 100px;
    font-family: 'KaiTi';
    font-size: 22px;
    color: white;
}

.score{
    display: none;
}
.Score{
    position: absolute;
    top: 58px;
    left: 210px;
    font-family: 'KaiTi';
    font-size: 26px;
    color: white;
}

.showadd{
    position: absolute;
    top:90px;
    left: 185px;
    font-family: 'KaiTi';
    font-size: 20px;
    color: yellow;
}

.passlevel{
    display: none;
}
.passLevel{
    position: absolute;
    top: 190px;
    left: 130px;
    width: 265px;
    height: 158px;
    background: url(images/stage_clear.png) no-repeat left top;
    background-size: 100% 100%;
}

.clock{
    display: none;
}
.Clock{
    position: absolute;
    top: 50px;
    left: 30px;
    width: 83px;
    height: 83px;
    background: url(images/clock.png) no-repeat left top;
    background-size: 100% 100%;
}

.showclock{
    display: none;
}
.showClock{
    position: absolute;
    top: 28px;
    left: 28px;
    font-family: 'KaiTi';
    font-size: 25px;
}

.cheerpicture{
    display: none;
}
.cheerPicture{
    opacity: 1;
    position: absolute;
    top: 180px;
    left: 30px;
    width: 435px;
    height: 101px;
    background: url(images/4.jpg) no-repeat left top;
    background-size: 100% 100%;
}

.awardshow{
    position: absolute;
    top: 300px;
    left: 150px;
    font-family: 'KaiTi';
    font-size: 20px;
    color: white;
}

.end{
    display: none;
}
.End{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 650px;
    background: url(images/bg_mainscene.jpg) no-repeat left top;
    background-size: 100% 100%;
    z-index: 1;
}

.showendscore{
    display: none;
}
.Showendscore{
    position: absolute;
    top: 260px;
    left: 190px;
    font-family: "KaiTi";
    font-size: 26px;
    color: white;
    z-index: 2;
}

.showendbest{
    display: none;
}
.Showendbest{
    position: absolute;
    top: 300px;
    left: 150px;
    font-family: "Yu Gothic Medium";
    font-size: 24px;
    color: white;
    z-index: 2;
}

button.playmusic{
    position: absolute;
    top: 20px;
    left: 420px;
    width: 49px;
    height: 47px;
    border: 0px;
    background: url(images/menu_sound_on.png) no-repeat left top;
    background-size: 100% 100%;
    outline: none;
    z-index: 2;
}

button.maxlength{
    position: absolute;
    top: 20px;
    left: 360px;
    width: 49px;
    height: 47px;
    border: 0px;
    background: url(images/menu_help.png) no-repeat left top;
    background-size: 100% 100%;
    outline: none;
    z-index: 2;
}

button.resume{
    display: none;
}
button.Resume{
    opacity: 1;
    position: absolute;
    top: 400px;
    left: 80px;
    width: 150px;
    height: 50px;
    border: 0px;
    background: url(images/button1.png) no-repeat left top;
    background-size: 100% 100%;
    outline: none;
    z-index: 3;
    font-size: 20px;
    font-family: 'KaiTi';
    color: white;
    font-weight: bold;
}
button.Resume:hover{
    background: url(images/button2.png) no-repeat left top;
    background-size: 100% 100%;
}

button.continuepass{
    display: none;
}
button.Continuepass{
    opacity: 1;
    position: absolute;
    top: 400px;
    left: 270px;
    width: 150px;
    height: 50px;
    border: 0px;
    background: url(images/button1.png) no-repeat left top;
    background-size: 100% 100%;
    outline: none;
    z-index: 3;
    font-size: 20px;
    font-family: 'KaiTi';
    color: white;
    font-weight: bold;
}
button.Continuepass:hover{
    background: url(images/button2.png) no-repeat left top;
    background-size: 100% 100%;
}

@-webkit-keyframes mymove1{
      0% {top: 0;}
      100% {top: 325px;}
}
@-webkit-keyframes mymove2{
  0%  {left: 0;}
  100% {left: 250px;}
}

.redstar-five{
    animation:mymove1 2s 2 cubic-bezier(0,0,1,1),mymove2 2s 2 cubic-bezier(0,1,0,1);
    margin: 5px 0;
    position: absolute;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right:  20px solid transparent;
    border-bottom: 14px  solid red;
    border-left:   20px solid transparent;
    -moz-transform:    rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform:     rotate(35deg);
    -o-transform:      rotate(35deg);
}
.redstar-five:before {
   border-bottom: 16px solid red;
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
.redstar-five:after {
   position: absolute;
   display: block;
   color: red;
   top: 0.6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 20px solid transparent;
   border-bottom: 14px solid red;
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

@-webkit-keyframes mymove3{
      0% {top: 0;}
      100% {top: 325px;}
}
@-webkit-keyframes mymove4{
  0%  {left: 500px;}
  100% {left: 250px;}
}
/*蓝色星星*/
 .bluestar-five{
    animation:mymove3 2s 2 cubic-bezier(0,0,1,1),mymove4 2s 2 cubic-bezier(0,1,0,1);
   margin: 5px 0;
   position: absolute;
   display: block;
   color: #2894FF;
   width: 0px;
   height: 0px;
   border-right:  20px solid transparent;
   border-bottom: 14px  solid #2894FF;
   border-left:   20px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.bluestar-five:before {
   border-bottom: 16px solid #2894FF;
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
.bluestar-five:after {
   position: absolute;
   display: block;
   color: #2894FF;
   top: 0.6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 20px solid transparent;
   border-bottom: 14px solid #2894FF;
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

@-webkit-keyframes mymove5{
      0% {top: 650px;}
      100% {top: 325px;}
}
@-webkit-keyframes mymove6{
  0%  {left: 0px;}
  100% {left: 250px;}
}
.yellowstar-five{
    animation:mymove5 2s 2 cubic-bezier(0,0,1,1),mymove6 2s 2 cubic-bezier(0,1,0,1);
   margin: 5px 0;
   position: absolute;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  20px solid transparent;
   border-bottom: 14px  solid yellow;
   border-left:   20px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.yellowstar-five:before {
   border-bottom: 16px solid yellow;
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
.yellowstar-five:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 0.6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 20px solid transparent;
   border-bottom: 14px solid yellow;
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

@-webkit-keyframes mymove7{
      0% {top: 650px;}
      100% {top: 325px;}
}
@-webkit-keyframes mymove8{
  0%  {left: 500px;}
  100% {left: 250px;}
}
.greenstar-five{
    animation:mymove7 2s 2 cubic-bezier(0,0,1,1),mymove8 2s 2 cubic-bezier(0,1,0,1);
   margin: 5px 0;
   position: absolute;
   display: block;
   color: #00EC00;
   width: 0px;
   height: 0px;
   border-right:  20px solid transparent;
   border-bottom: 14px  solid #00EC00;
   border-left:   20px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.greenstar-five:before {
   border-bottom: 16px solid #00EC00;
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
.greenstar-five:after {
   position: absolute;
   display: block;
   color: #00EC00;
   top: 0.6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 20px solid transparent;
   border-bottom: 14px solid #00EC00;
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}